<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 ">
            <h2 style="margin-left:17%; ">Listes des clients</h2>
            <table class="fixPosition">
                <tr>
                    <th></th>
                    <th>Prenom</th>
                    <th>Nom</th>
                </tr>
                <tr>
                    <th>
                        <input type="radio" id="add1" name="type" value="Addresse: 14, rue goaway, Paris"
                            onclick="showDiv()">
                    </th>
                    <th>zakaria</th>
                    <th>aourir</th>
                </tr>
                <tr>
                    <th>
                        <input type="radio" name="type" id="add2" value="Addresse: 7, rue runway, Paris"
                            onclick="showDiv()">
                    </th>
                    <th>zakaria2</th>
                    <th>aourir2</th>
                </tr>
                <tr>
                    <th>
                        <input type="radio" name="type" id="add3" value="Addresse: 14, rue flyaway, Paris"
                            onclick="showDiv()">
                    </th>
                    <th>zakaria3</th>
                    <th>aourir3</th>
                </tr>
            </table>
            <div class="centerHome">
                <h6 class="fixDetails">Details:</h6>
                <div id="rectangle" class="rectangle">
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>